extends layout

block content
  h1= title
  form(method='POST' action='', id='searchForm')
    div.form-group
      label(for= 'site') Site:
      select(name='site', form= 'searchForm', id= 'site')
      br
      label(for= 'block') Block:
      select(name='block', form= 'searchForm', id= 'block')
      br
      label(for='afterDate') After:
      input#afterDate.form-control(type='date', name='afterDate')
      br
      label(for='beforeDate') Before:
      input#beforeDate.form-control(type='date', name='beforeDate')
      br
      button.btn.btn-primary(type='submit') Search 
    
  if errors
    ul 
      for error in errors
        li!= error.msg
  h3= "Recent Sessions"
  table(id= 'sessions', style='width:100%', border='1')
    tr(class= "table_header")
      th= "Site"
      th= "Block"
      th= "Image Count"
      th= "Time Recorded" 



