extends layout

block content
  div.content
    div.heading
      h1.title= "MultiCam Data Portal"
    form#search-form(method='POST' action='')
      ul.form-group
        li.form-row
          label.input-label(for= 'site') Site:
          select#site.input-field(name='site', form= 'search-form')

        li.form-row
          label.input-label(for= 'block') Block:
          select#block.input-field(name='block', form= 'search-form')

        li.form-row
          label.input-label(for='afterDate') After:
          input#afterDate.form-control.input-field(type='date', name='afterDate')

        li.form-row
          label.input-label(for='beforeDate') Before:
          input#beforeDate.form-control.input-field(type='date', name='beforeDate')
        br
        li.form-row 
          button#search-btn.btn.btn-primary(type='submit') Search 
        if errors
          ul.errors 
            for error in errors
              li!= error.msg
    
    br
    div#sessions
      h3.sessions-title= "Recent Sessions"
      table#sessions-table(cellspacing= "0", border= "1")
        tr.table-header
          th= "Site"
          th= "Block"
          th= "Image Count"
          th= "Time Recorded" 



